<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}About-Us{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/index.css' %}">
{% endblock extra_css %}

{% block content_1 %}
<div class="content-us-1">
    <h2 class="fade-in">NUESTRA HISTORIA</h2>
    <div class="grid-container fade-in">
        <div class="text-info fade-in delay-1">
            <h1>Un Sueño de Chocolate Hecho Realidad</h1>
            <h3>
                CHOCOROCKS nació de la pasión por el cacao ecuatoriano y el deseo de innovar en la forma en que el mundo disfruta el chocolate
                <br><hr class="white-line"/>Como parte de nuestra formación como maestros chocolateros, nos propusimos crear un snack único, que combinará tradición, calidad y un toque de creatividad.
            </h3>
        </div>
        <div class="image-info fade-in delay-2">
            <img class="image-front3" src="{% static 'products/images/CHOCOROCKS-15.jpg' %}" alt="Chocorocks"/>
            <img class="image-back3" src="{% static 'products/images/DSC02216_1.jpg' %}" alt="Chocorocks"/>
        </div>
        <div class="image-info fade-in delay-1">
            <img class="image-front3-1" src="{% static 'products/images/CHOCOROCKS-4.jpg' %}" alt="Chocorocks"/>
            <img class="image-back3-1" src="{% static 'products/images/DSC02214_1.jpg' %}" alt="Chocorocks"/>
        </div>
        <div class="text-info fade-in delay-2">
            <h3>
                Desde 2019, cuando presentamos nuestros primeros sabores en una feria de emprendimiento, nos dimos cuenta del enorme potencial de nuestra idea. 
                <br><hr class="white-line"/>La increíble acogida de los clientes nos motivó a expandir nuestra oferta, desarrollando nuevas variedades como Dark y Semillas.
            </h3>
        </div>
        <div class="text-info fade-in delay-1">
            <h3>
                Durante la pandemia, transformamos el desafío en una oportunidad: expandimos nuestro catálogo, fortalecimos nuestra presencia online y creamos un modelo de venta con entregas a domicilio, conectando con nuestros clientes de una manera más cercana y personalizada.
                <br><hr class="white-line"/>Hoy, CHOCOROCKS ha crecido con ferias y puntos de venta en diferentes rincones de Quito y Ecuador, consolidándose como una marca que lleva lo mejor del chocolate ecuatoriano a cada bocado.
            </h3>
        </div>
        <div class="image-info fade-in delay-2">
            <img class="image-front3" src="{% static 'products/images/CHOCOROCKS-16.jpg' %}" alt="Chocorocks"/>
            <img class="image-back3" src="{% static 'products/images/DSC02222_1.jpg' %}" alt="Chocorocks"/>
        </div>
    </div>
</div>

<div class="content-us-2 fade-in">
    <div class="us-mission">
        <h2 class="fade-in delay-1">Misión</h2>
        <p class="fade-in delay-2">Entregar una experiencia de sabor en cada bocado, utilizando el cacao fino de aroma ecuatoriano fomentando un consumo consciente y saludable, ofreciendo chocolates elaborados con ingredientes naturales y locales libres de químicos.
            <br><br>Nos esforzamos por llevar la riqueza del cacao ecuatoriano al mundo, transformando la forma en que se disfruta este excelente producto nacional, siempre comprometidos con la calidad y la sostenibilidad.
        </p>
    </div>
    <div class="us-vision">
        <h2 class="fade-in delay-1">Visión</h2>
        <p class="fade-in delay-2">Convertirnos en una marca de chocolates reconocida internacionalmente, llevando la riqueza del cacao ecuatoriano a los mercados globales. En el mediano plazo, aspiramos a exportar nuestros productos a EEUU introduciendo nuestros productos en cadenas locales especializadas.
            <br><br>Nuestra visión es promocionar al Ecuador a través de nuestros sabores siendo un sinónimo de calidad, innovación y autenticidad, compartiendo el sabor único de nuestros chocolates con consumidores de todos los continentes, mientras seguimos empoderando a las comunidades locales y promoviendo un consumo consciente y saludable. 
        </p>
    </div> 
</div>

<div class="values">
    <div class="values-info fade-in">
        <h3 class="fade-in delay-1">CALIDAD SUPERIOR</h3>
        <h3 class="fade-in delay-1">ATENCIÓN AL CLIENTE</h3>
        <h3 class="fade-in delay-2">INOVACIÓN EN SABORES</h3>
        <h3 class="fade-in delay-2">COMPROMISO CON LA EXCELENCIA</h3>
        <h3 class="fade-in delay-3">COMPROMISO SOCIAL</h3>
    </div>
</div>

{% endblock content_1 %}

{% block content_2 %}

<div class="social-commitment fade-in">
    <div class="commitment-grid">
        <div class="commitment-title fade-in delay-1">
            <h2>Compromiso Social y Sostenibilidad: Más que un Snack, una Causa</h2>
        </div>
        <div class="commitment-text fade-in delay-1">
            <p>CHOCOROCKS no sólo representa un producto de alta calidad, sino también un emprendimiento con impacto. Desde nuestros inicios, hemos trabajado con un propósito claro: impulsar el desarrollo de mujeres ecuatorianas. Detrás de cada CHOCOROCKS hay madres, estudiantes y emprendedoras que ponen su esfuerzo y dedicación para posicionar nuestro snack como uno de los mejores del mundo.</p>
            <hr class="white-line"/><p class="fade-in delay-2">Además, creemos en un futuro más sostenible. Nos esforzamos por reducir nuestro impacto ambiental mediante el uso de empaques ecológicos y el manejo responsable de residuos, promoviendo el reciclaje y la conciencia ambiental.</p>
            <hr class="white-line"/><p class="fade-in delay-3">Con cada bocado de CHOCOROCKS, no sólo disfrutas un sabor excepcional, sino que también apoyas una causa que transforma vidas y cuida nuestro planeta.</p>
        </div>
    </div>
</div>

<div class="team-section">
    <div class="team-container">
        <div class="team-header fade-in">
            <h2>NUESTRO <br>EQUIPO</h2>
            <p class="team-description">Cada miembro de nuestro equipo desempeña un papel fundamental y tiene un rol en cada fase del proceso.
                Estamos comprometidos con la calidad y el servicio
            </p>
        </div>
        <div class="team-content">
            <div class="team-members">
                <div class="member fade-in delay-1">
                    <span class="member-name">Verónica Cordero</span>
                    {% comment %} <span class="member-title">Gerente</span> {% endcomment %}
                </div>
                <div class="member member fade-in delay-2">
                    <span class="member-name">Margarita Sumba</span>
                </div>
                <div class="member member fade-in delay-3">
                    <span class="member-name">Emilia Benalcazar</span>
                </div>
                <div class="member member fade-in delay-1">
                    <span class="member-name">Yahaira Barahona</span>
                </div>
                <div class="member member fade-in delay-2">
                    <span class="member-name">Justin Titoaña</span>
                </div>
                <div class="member member fade-in delay-3">
                    <span class="member-name">Jeanehte Arroyo</span>
                </div>
                <div class="member member fade-in delay-1">
                    <span class="member-name">Javier Cordero</span>
                </div>
            </div>
            <div class="team-image member fade-in delay-2">
                <img class="image-front-t1" src="{% static 'products/images/CHOCOROCKS-17.jpg' %}" alt="Equipo Chocorocks" />
                <img class="image-back-t1" src="{% static 'products/images/team.PNG' %}" alt="Equipo Chocorocks" />
            </div>
        </div>
    </div>
</div>

<div class="content-index-2">
    <div class="seagrass-container">
        <div class="image-section">
            <div class="post-card">
                <div class="image-container fade-in">
                    <img class="image-front1" src="{% static 'products/images/CHOCOROCKS-9.jpg' %}" alt="Primera imagen"/>
                    <img class="image-back1" src="{% static 'products/images/CHOCOROCKS-8.jpg' %}" alt="Segunda imagen"/>
                </div>
            </div>
        </div>
        <div class="text-section">
            <h2 class="fade-in delay-1">CONOCE NUESTRAS NOVEDADES</h2>
            <p class="fade-in delay-2">Exploramos nuevas combinaciones de sabores, texturas y presentaciones manteniendo siempre la esencia de nuestro chocolate.
                Descubre nuestras últimas creaciones y noticias.
            </p>
            <a href="{% url 'products:list_post' %}" class="learn-more-btn fade-in delay-3">➜</a>
        </div>
    </div>
</div>

{% endblock content_2 %}

{% block content_3 %}

{% endblock content_3 %}