<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Acerca de Nosotros{% endblock title %}
{% block content_1 %}
<div class="content-us-1">
    <div class="text-info">
        <h3>
            CHOCOROCKS es un snack crocante a base de chocolate que  mezcla los sabores dulces de la fruta,  los crocantes del cereal y lo  suave del chocolate. Para su elaboración se usa cacao fino de aroma  100% ecuatoriano, dando realce a este producto ancestral del país.   
        </h3>
        <h3>
            Es un snack diferente, crocante que brinda una sensación crujiente  realzando los sabores propios del Ecuador. Es hecho artesanalmente  y su forma no es definida se presenta  a de manera irregular bajo la técnica de rocas suizas por eso su nombre “choco rocks” ya que se asemeja a pequeñas piedritas.
        </h3>
        <h3>
            En la formula se han incluido cereales: amaranto, maíz, arroz  crocante para darle crocancia y sobe todo fibra, le permite tener su  forma y sabor característico. Todos los sabores tienen fruta  deshidratada o liofilizada para incorporar el toque dulce ya que no  se añade azúcar a la mezcla. Actualmente tenemos 4 sabores cada  uno atiende a un tipo de consumidor.
        </h3>
    </div>
</div>
{% endblock content_1 %}

{% block content_2 %}
<div class="content-us-2">
    <div class="posts-us">
        <div class="post">
            {% for post in posts %}
            <img src={{ post.image.url }} alt="{{ post.title }}"/>
            {% endfor %}
        </div>
    </div>
</div>

<div class="">

</div>
{% endblock content_2 %}