<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}CHOCOROCKS{% endblock title %}
{% block content_1 %}
<div class="content-desc">
    <h3>CHOCOROCKS es un snack crocante a base de chocolate que 
        mezcla los sabores dulces de la fruta, los crocantes del cereal y lo 
        suave del chocolate. Para su elaboración se usa cacao fino de aroma 
        100% ecuatoriano, dando realce a este producto ancestral del país.
    </h3>    
</div>
<div class="content-index">
    {% comment %} <h2>NUESTROS PRODUCTOS</h2> {% endcomment %}
    <div class="carousel-container">
        <div class="carousel">
            {% for product in products %}
                <div class="product">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <a href="{% url 'products:product' product.id %}">Ver más</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content_1 %}

{% block content_2 %}

<div class="content-index-2">
    <div class="carousel-photos">
        <div class="carousel-2">
            {% for post in posts %}
            <div class="post-card">
                <a href="{% url 'products:list_post' %}#post-{{ post.id }}">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
                    <p class="post-title">{{ post.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content_2 %}

{% block extra_js %}
    <script src="{% static 'products/js/carousel.js' %}" defer></script>
{% endblock %}