<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Productos{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/list_product.css' %}">
{% endblock extra_css %}

{% block content_1 %}

<div class="product-list">
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ producto.name }}" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <a href="{% url 'products:product' product.id %}">Ver más</a>    
    </div>
    {% endfor %}
</div>

{% endblock content_1 %}

{% block content_2 %}

{% endblock content_2 %}
